* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  background-color: rgb(250, 250, 250);
}

#root {
  font-family: sans-serif;
  margin: 1rem auto;
  max-width: 666px;
}

.main {
  text-align: center;
}

.nav {
  margin: 1rem 0;
  text-align: center;
}

.nav a {
  color: seagreen;
  margin: 0 1rem;
  text-decoration: none;
}

.nav a:hover {
  color: inherit;
}

.nav a.active {
  font-weight: bold;
}

.friend {
  background-color: black;
  border-radius: 5px;
  color: white;
  margin: 1rem auto;
  padding: 1rem;
  max-width: 420px;
}

.friend hr {
  border: 1px solid rgba(255, 255, 255, 0.10);
  margin: 1rem 0;
}

.friend-header {
  align-tiems: center;
  display: flex;
  justify-content: space-between;
}

.friend-header button {
  background: rgb(0, 255, 0);
  border: none;
  border-radius: 100%;
  color: black;
  cursor: pointer;
  height: 20px;
  transition: 0.25s;
  width: 20px;
}

.friend-header button:hover {
  background: rgb(255, 0, 0);
}

.friend-header h2 {
  font-weight: normal;
}

.friend a {
  color: inherit;
  text-decoration: none;
  transition: 0.5s;
}

.friend a:hover {
  color: lightgrey;
}

.friend-form {
  align-items: center;
  background-color: rgb(245, 245, 245);
  border: 1px solid lightgrey;
  border-radius: 5px;
  display: flex;
  flex-flow: wrap;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 420px;
  padding: 1rem;
}

.friend-form p {
  color: seagreen;
  font-variant: small-caps;
  margin-top: 0.5rem;
  text-align: center;
  width: 100%;
}

.friend-form button {
  background: seagreen;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin: 0.5rem auto 0 auto;
  padding: 0.5rem;
  transition: 0.5s;
  width: 50%;
}

.friend-form button:hover {
  background: lightgreen;
}

.friend-form input {
  border: 1px solid lightgrey;
  margin: 0.5rem 0;
  padding: 0.5rem;
}

.friend-form input:focus {
  border-color: seagreen;
}

.fname {
  width: 75%;
}

.fage {
  width: 20%;
}

.femail {
  width: 100%
}
